@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 238, 248);
  font-family: "Poppins", sans-serif;
  /*styles footer*/
}
body .banner {
  width: 100%;
  background-color: rgb(217, 217, 217);
  display: flex;
  justify-content: center;
}
body header {
  background-color: rgb(217, 217, 217);
  position: sticky;
  top: 0px;
  border-bottom: 2px solid rgb(192, 170, 197);
  z-index: 2;
  margin-bottom: 0;
}
body header .div2, body header .descripcion .container .div0 .div div, .descripcion .container .div0 .div body header div, body header .descripcion .container .div0 .div, .descripcion .container .div0 body header .div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: rgb(217, 217, 217);
}
body header .div2 a, .descripcion .container .div0 .div body header div a, body header .descripcion .container .div0 .div a, .descripcion .container .div0 body header .div a {
  color: rgb(58, 55, 77);
  font-size: x-large;
}
body header nav {
  background-color: rgb(217, 217, 217);
  width: 100%;
  height: 60px;
  display: flex;
  margin-bottom: 0;
}
body header nav img {
  width: 45px;
  height: 45px;
}
body header nav ul {
  display: flex;
  justify-content: space-between;
  background-color: rgb(217, 217, 217);
  list-style-type: none;
  font-size: larger;
}
body header nav ul li {
  text-decoration: overline blueviolet;
}
body header nav ul li a {
  text-decoration: none;
  color: rgb(58, 55, 77);
  font-size: x-large;
}
body header nav ul li .enlace_nav:link {
  color: white;
}
body header nav ul li .enlace_nav:hover {
  color: white;
  text-decoration: overline 2px violet;
}
body header nav .index_img:hover {
  border-top: 2px solid violet;
}
body header nav .carrito:hover {
  border-top: 2px solid violet;
  padding-top: 3px;
  color: white;
}
body .icono_wsp {
  position: fixed;
  right: 10px;
  bottom: 75px;
  z-index: 2;
}
body .icono_wsp img:hover {
  width: 70px;
}
body footer {
  display: flex;
  justify-content: space-between;
}
body footer h4 {
  margin: 0;
  padding: 5px;
}
body footer form input {
  width: 300px;
}
body footer form button {
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 8%;
}
body footer form button:hover {
  background-color: rgb(163, 84, 238);
}
body footer .seguinos {
  display: flex;
  flex-direction: column;
}
body footer .seguinos div {
  display: flex;
  justify-content: center;
}
body footer .seguinos div svg {
  width: 40px;
  height: 40px;
  color: blueviolet;
  padding: 4px;
  margin: 2px;
  border: 2px solid gray;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .banner {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  header {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  footer {
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 2px gray solid;
    display: flex;
    flex-direction: column;
  }
  footer .mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .mail h4 {
    font-size: medium;
  }
  footer .seguinos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 501px) {
  footer {
    border: 2px solid gray;
  }
  footer .mail {
    padding: 5px 0 0px 25px;
  }
  footer .seguinos {
    padding: 5px 25px 5px 0px;
  }
}
main .main_center {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .main_center h3 {
  padding: 10px;
}
main h1 {
  color: blueviolet;
  font-size: 60px;
  justify-content: center;
  padding: 10px;
}
main h2 {
  color: rgb(88, 88, 88);
  font-size: 30px;
  justify-content: center;
}
main h3 {
  color: gray;
  font-size: 20px;
  justify-content: center;
  /*padding: 10px;*/
}
main .p {
  font-size: larger;
}
main div {
  height: auto;
  justify-content: center;
}
main div .carousel-inner {
  width: 100%;
  height: fit-content;
  align-items: center;
}
main div .carousel-inner img {
  width: 1200px;
  height: 600px;
  border-radius: 6%;
}

@media screen and (max-width: 500px) {
  .main_center .carousel-inner {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  .main_center .carousel-inner img {
    width: 100%;
    height: auto;
  }
}
.nosotrxs {
  display: flex;
  flex-direction: column;
}
.nosotrxs .h2 {
  color: rgb(167, 156, 156);
  background-color: rgb(243, 238, 248);
  flex-direction: column;
  height: fit-content;
  position: sticky;
  top: 60px;
  border-bottom: 2px solid blueviolet;
  margin-top: 0;
  padding-top: 15px;
  z-index: 1;
}
.nosotrxs .row {
  margin-left: 40px;
  padding-left: 40px;
}
.nosotrxs .nosotrxs_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nosotrxs .nosotrxs_content .texto {
  width: 100%;
  height: fit-content;
  margin: 20px 10px 0 0px;
  font-size: larger;
}
.nosotrxs .nosotrxs_content p {
  margin-left: 10px;
}

.images {
  width: 100%;
  margin: 0;
}
.images img {
  width: 50%;
  border-radius: 10%;
}

.imagen_nos {
  width: 100%;
  border-radius: 8%;
  margin-top: 30px;
  margin-left: 10px;
}

.nosotrxs {
  display: flex;
  flex-direction: column;
}
.nosotrxs .h2 {
  color: rgb(167, 156, 156);
  background-color: rgb(243, 238, 248);
  flex-direction: column;
  position: sticky;
  top: 60px;
  border-bottom: 2px solid blueviolet;
  margin-top: 0;
  padding-top: 15px;
  z-index: 1;
}
.nosotrxs .accordion {
  margin-bottom: 10px;
}
.nosotrxs .accordion .accordion-button {
  color: rgb(114, 112, 112);
  background-color: rgb(243, 238, 248);
}

@media screen and (max-width: 500px) {
  .main_center h1 {
    font-size: 30px;
  }
  .main_center h2 {
    font-size: 20px;
  }
  .fila_img {
    display: none;
  }
  .imagen_nos {
    display: none;
  }
  .img_mobile {
    width: 100%;
    border-radius: 8%;
    padding: 10px;
  }
  .nosotrxs .h2 {
    padding-left: 10px;
  }
  .nosotrxs .nosotrxs_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nosotrxs .nosotrxs_content .texto {
    height: fit-content;
    margin: 0;
    padding: 0px;
    width: 100%;
  }
  .nosotrxs .nosotrxs_content p {
    margin: 0;
    padding: 0;
    margin: 0;
    font-size: medium;
  }
}
@media screen and (min-width: 500px) {
  .img_mobile {
    display: none;
  }
}
.servicios1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.servicios1 .servicios {
  display: flex;
  width: 90%;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
}
.servicios1 .servicios a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: underline 2px blueviolet;
  margin-right: 20px;
  margin-left: 20px;
  color: gray;
}
.servicios1 .servicios a h2 {
  display: flex;
  justify-content: center;
}
.servicios1 .servicios a img {
  width: 350px;
  height: 250px;
  margin-top: 0;
  opacity: 100%;
  transition: opacity 0.5s;
  border-radius: 10%;
}
.servicios1 .servicios a img:hover {
  opacity: 50%;
}

.tratamientos_corporales {
  display: flex;
  flex-wrap: wrap;
}

.tratamientos_faciales {
  display: flex;
  flex-wrap: wrap;
}

.maquillaje_social {
  display: flex;
  flex-wrap: wrap;
}

.h2_trat {
  padding-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: underline blueviolet 2px;
  border-top: 2px solid rgb(192, 170, 197);
}

section .row .col-6 {
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
section .row .col-6 .d_none {
  display: none;
}
section .row .col-6 .card {
  margin: 10px !important;
  padding: 0 !important;
}
section .row .col-6 .card a {
  text-decoration: none;
  color: black;
  text-decoration-color: black;
}
section .row .col-6 .card a .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}
section .row .col-6 .card a .card-body h3 {
  text-decoration: underline 1px gray;
}
section .row .col-6 .card a .card-body p {
  margin: 0;
  color: black;
}
section .row .col-6 .card a .card-body svg {
  color: black;
}
section .row .col-6 .card a img {
  padding: 10px;
  border-radius: 6%;
  opacity: 100%;
  transition: opacity 0.5s;
}
section .row .col-6 .card a img:hover {
  opacity: 50%;
}
section .row .col-6 .btn {
  background-color: blueviolet;
  border: 0px;
  margin-bottom: 10px;
}
section .row .col-6 .btn:hover {
  background-color: rgb(173, 121, 221);
}

@media screen and (max-width: 500px) {
  .servicios1 {
    width: 100%;
  }
  .servicios1 .servicios {
    width: 90%;
    margin: 10px;
  }
  .servicios1 .servicios a {
    margin: 10px;
    width: 120px;
    height: auto;
  }
  .servicios1 .servicios a h2 {
    font-size: medium;
    align-items: center;
  }
  .servicios1 .servicios a img {
    width: 100px;
    height: 75px;
  }
  .card_desktop {
    display: none;
  }
}
@media screen and (min-width: 501px) {
  .card_mobile {
    display: none;
  }
}
.contacto {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-bottom: 15px;
}
.contacto svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  color: blueviolet;
}
.contacto h3 {
  font-size: x-large;
}

.ubicación {
  display: flex;
  justify-content: center;
}
.ubicación iframe {
  width: 90%;
  margin-bottom: 15px;
  border-radius: 6%;
}

@media screen and (max-width: 500px) {
  .contacto h3 {
    font-size: medium;
  }
  .contacto .h3 {
    font-size: large;
  }
  textarea {
    width: 90%;
  }
}
.descripcion img {
  opacity: 30%;
  width: 100%;
}
.descripcion .container .div0 {
  position: absolute;
  top: 250px;
  z-index: 1;
}
.descripcion .container .div0 .div2 h2, .descripcion .container .div0 .div h2 {
  color: black;
}
.descripcion .container .div0 .div2 p, .descripcion .container .div0 .div p {
  color: black;
  margin-right: 50px;
}
.descripcion .container .div0 .div2 ul, .descripcion .container .div0 .div ul {
  color: black;
}
.descripcion .container .div0 .div2 h3, .descripcion .container .div0 .div h3 {
  color: black;
  text-decoration: underline 1px;
}
.descripcion .container .div0 .div {
  display: flex;
}
.descripcion .container .div0 .div div {
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
