@mixin colors ($color, $bgcolor) {
    color: $color;
    background-color: $bgcolor;
}



.form_turnos {
    display: grid;
    grid-template-rows: 90%, 10%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;

    h3 {
        font-size: x-large;
        margin: 10px 0 10px 0;
    }

    img {
        width: 200px;

    }

    h4 {
        a {
            color: gray;
        }

        font-size: medium;
    }

    p {
        font-size: large;
    }

    textarea {
        width: 100%;
    }



    .buttons {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;

        .recorda {
            display: flex;
            width: 50%;

            svg {
                color: $color_icons;
            }
        }

        p {
            width: 50%;
            padding: 10px;
            border: 2px solid $color_lines;
            border-radius: 8%;
        }

        button {
            padding: 3px;
            margin: 10px;
            @include colors(black, rgb(236, 227, 227));
            border: 1px solid gray;
            border-radius: 10%;

            &:hover {
                background-color: gray;
            }
        }


        input {
            padding: 3px;
            margin-bottom: 10px;
            @include colors(white, $color_icons );
            border: none;
            border-radius: 10%;

            &:hover {

                background-color: $color_hover;

            }
        }
    }
}


@media screen and (max-width: 500px) {

    .h2_turnos {
        font-size: 15px;
    }

    .form_turnos {
        display: flex;
        flex-direction: column;
        align-items: center;

        .buttons {
            .recorda {
                width: 100%;
            }

            p {
                width: 100%
            }
        }
    }



}