@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}


.contacto {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-bottom: 15px;

    svg {
        @include sizes(50px, 50px);
        margin-right: 10px;
        color: blueviolet;
    }

    h3 {
        font-size: x-large;
    }
}

.ubicación {
    display: flex;
    justify-content: center;

    iframe {
        width: 90%;
        margin-bottom: 15px;
        border-radius: 6%;

    }
}

@media screen and (max-width: 500px) {
    .contacto {
        h3 {
            font-size: medium;
        }

        .h3 {
            font-size: large;
        }
    }

    textarea {
        width: 90%;
    }
}