@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}


main {

    .main_center {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    h1 {
        color: blueviolet;
        font-size: 60px;
        justify-content: center;
        padding: 10px;
    }

    h2 {
        color: rgb(88, 88, 88);
        font-size: 30px;
        justify-content: center;
    }

    h3 {
        color: gray;
        font-size: 20px;
        justify-content: center;
        padding: 10px;
    }

   .p {
    font-size: larger;
   }

    div {
        height: auto;
        justify-content: center;

        .carousel-inner {
            @include sizes(100%, fit-content);
            align-items: center;

            img {
                @include sizes(1200px, 600px);
                border-radius: 6%;
            }
        }
    }


}



@media screen and (max-width: 500px) {

    .main_center {

        .carousel-inner {
            position: relative; 
            max-width: 100%;
            overflow: hidden; 
        
            img {
                @include sizes(100%, auto);
            }
        }


    }


}