.col {

    margin-top: 0;

    p {
        margin: 0 10px 0 60px;
    }

    .nosotrxs {
        display: flex;
        flex-direction: column;

        .h2 {
            color: rgb(167, 156, 156);
            flex-direction: column;
            height: fit-content;
            position: sticky;
            top: 60px;
            background-color: rgb(243, 238, 248);
            border-bottom: 2px solid rgb(192, 170, 197);
            margin-top: 0;
            padding-top: 15px;
            padding-left: 30px;
            z-index: 1;
        }

        .nosotrxs_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .texto {
                height: fit-content;
                margin: 0px 5px 0 30px;
                padding: 40px;
            }

            p {
                margin: 0;
                padding: 0;
            }

        }

    }

    .imagenprueba {
        width: 90%;
        border-radius: 8%;
        margin-top: 30px;
        margin-left: 10px;
    }

}



.nosotrxs {
    display: flex;
    flex-direction: column;

    .h2 {
        color: rgb(167, 156, 156);
        flex-direction: column;
        height: fit-content;
        position: sticky;
        top: 60px;
        background-color: rgb(243, 238, 248);
        border-bottom: 2px solid rgb(192, 170, 197);
        margin-top: 0;
        padding-top: 15px;
        padding-left: 30px;
        z-index: 1;
    }

    .accordion {
    

        .accordion-button {
            background-color: rgb(243, 238, 248);
            color: rgb(167, 156, 156);
        }
    }
}



@media screen and (max-width: 500px) {

    .nosotrxs_content {
        display: flex;
        flex-flow: column wrap;
    }

    .nosotrxs_content h2 {
        width: 100%;
    }

    .img_content1 {
        width: 100%;
    }

    .img4 {
        width: 100%;
        height: 200px;
    }

    .nosotrxs_content .texto {
        width: 100%;
    }


}