@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

@mixin colors ($color, $bgcolor){
    color: $color;
    background-color: $bgcolor;
}



    

    .nosotrxs {
        display: flex;
        flex-direction: column;

        .h2 {
            @include colors (rgb(167, 156, 156), rgb(243, 238, 248));
            flex-direction: column;
            height: fit-content;
            position: sticky;
            top: 60px;
            border-bottom: 2px solid rgb(192, 170, 197);
            margin-top: 0;
            padding-top: 15px;
            z-index: 1;
        }

        .row {
            margin-left: 40px;
            padding-left: 40px;
        }
        .nosotrxs_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            

            .texto {
                width: 100%;
                height: fit-content;
                margin: 20px 10px 0 0px;
                font-size: larger;
            }

        }

    }

    .images {
        width: 100%;
        margin: 0;
        img {
            width: 50%;
            border-radius: 10%;
        }
    }    
    .imagen_nos {
        width: 100%;
        border-radius: 8%;
        margin-top: 30px;
        margin-left: 10px;
    }





.nosotrxs {
    display: flex;
    flex-direction: column;

    .h2 {
        @include colors (rgb(167, 156, 156), rgb(243, 238, 248));
        flex-direction: column;
        position: sticky;
        top: 60px;
        border-bottom: 2px solid rgb(192, 170, 197);
        margin-top: 0;
        padding-top: 15px;
        z-index: 1;
    }

    .accordion {
        margin-bottom: 10px;

        .accordion-button {
            @include colors (rgb(114, 112, 112), rgb(243, 238, 248));
        }
    }
}



@media screen and (max-width: 500px) {

    
    .main_center{
       h1 {
        font-size: 30px;
    }    
    h2 {
        font-size: 20px;
    }
    } 

    .fila_img {
        display: none;
    }
    .imagen_nos {
        display: none;
    }
    .img_mobile {
        width: 100%;
        border-radius: 8%;
        padding: 10px;
    }
    .nosotrxs {
       

        .h2 {
            padding-left: 10px;
        }

        .nosotrxs_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .texto {
                height: fit-content;
                margin: 0;
                padding: 0px;
                width: 100%;
            }

            p {
                margin: 0;
                padding: 0;
                margin: 0;
                font-size: medium;
            }

        }

    }


}

@media screen and (min-width: 500px) {
    .img_mobile {
        display: none;
    }
}