.servicios1 {
    display: flex;
    justify-content: center;

    .servicios {
        display: flex;
        width: 90%;
        justify-content: center;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 20px;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: underline 2px gray;
            margin-right: 20px;
            margin-left: 20px;

            h2 {
                display: flex;
                justify-content: center;
            }

            img {
                width: 350px;
                height: 250px;
                margin-top: 0;
                opacity: 100%;
                transition: opacity 0.5s;
                border-radius: 10%;
            }

            img:hover {
                opacity: 50%;
            }
        }
    }
}


.tratamientos_corporales {
    display: flex;
    flex-wrap: wrap;
}

.tratamientos_faciales {
    display: flex;
    flex-wrap: wrap;
}

.maquillaje_social {
    display: flex;
    flex-wrap: wrap;
}

.h2_trat {
    padding-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: underline gray 2px;
    border-top: 2px solid rgb(192, 170, 197);
}

.col {
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .d_none {
        display: none;
    }

    .card {
        margin: 10px !important;
        padding: 0 !important;


        a {
            text-decoration: none;
            color: black;


            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            img {
                padding: 10px;
                border-radius: 6%;
                opacity: 100%;
                transition: opacity 0.5s;
            }

            img:hover {
                opacity: 50%;
            }
            

            .ver_mas {
                display: flex;
                width: 50px !important;
                height: 50px !important;
            }

            p {
                margin: 0;
            }
        }
    }

    .btn {
        background-color: blueviolet;
        border: 0px;
        margin-bottom: 10px;
    }

    .btn:hover {
        background-color: rgb(173, 121, 221);
    }
}





@media screen and (max-width: 500px) {

    .servicios a img {
        margin: 20px;
        width: 90%;
        height: 300px;
        margin-top: 0;
    }

    .servicios {
        display: flex;
        width: 90%;
        justify-content: center;
        flex-direction: column;
    }

    .tratamientos_corporales {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 300px);
        row-gap: 10px;
        column-gap: 10px;
    }

    .tratamientos_faciales {
        display: flex;
        flex-wrap: wrap;
    }

    .maquillaje_social {
        display: flex;
        flex-wrap: wrap;
    }

    .tratamiento {
        display: flex;
        width: 100%;
        border: 1px solid blueviolet;
        padding: 10px;
        margin: 10px;
        justify-content: center;
    }
}