@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

@mixin colors ($color, $bgcolor) {
    color: $color;
    background-color: $bgcolor;
}

.servicios1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .servicios {
        display: flex;
        width: 90%;
        justify-content: center;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 20px;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: underline 2px gray;
            margin-right: 20px;
            margin-left: 20px;
            color: gray;

            h2 {
                display: flex;
                justify-content: center;
            }

            img {
                @include sizes(350px, 250px);
                margin-top: 0;
                opacity: 100%;
                transition: opacity 0.5s;
                border-radius: 10%;
            }

            img:hover {
                opacity: 50%;
            }
        }
    }
}


.tratamientos_corporales {
    display: flex;
    flex-wrap: wrap;
}

.tratamientos_faciales {
    display: flex;
    flex-wrap: wrap;
}

.maquillaje_social {
    display: flex;
    flex-wrap: wrap;
}

.h2_trat {
    padding-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: underline gray 2px;
    border-top: 2px solid rgb(192, 170, 197);
}

section {
    .row {
        .col-6 {
            display: flex;
            padding: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;

            .d_none {
                display: none;
            }

            .card {
                margin: 10px !important;
                padding: 0 !important;


                a {
                    text-decoration: none;
                    color: black;
                    text-decoration-color: black;


                    .card-body {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: black;

                        h3 {
                            text-decoration: underline 1px gray;
                        }


                        p {
                            margin: 0;
                            color: black;
                        }

                        svg {
                            color: black;
                        }
                    }

                    img {
                        padding: 10px;
                        border-radius: 6%;
                        opacity: 100%;
                        transition: opacity 0.5s;
                    }

                    img:hover {
                        opacity: 50%;
                    }



                }
            }


            .btn {
                background-color: blueviolet;
                border: 0px;
                margin-bottom: 10px;
            }

            .btn:hover {
                background-color: rgb(173, 121, 221);
            }
        }


    }
}




@media screen and (max-width: 500px) {

    .servicios1 {
        width: 100%;

        .servicios {
            width: 90%;
            margin: 10px;

            a {
                margin: 10px;
                @include sizes(120px, auto);

                h2 {
                    font-size: medium;
                    align-items: center;
                }

                img {
                    @include sizes(100px, 75px)
                }
            }
        }


    }
}