.descripcion {
    img {
        opacity: 30%;
        width: 100%;
        border-radius: 0%;
    }

    .container {
        .div0 {
            position: absolute;
            top: 250px;
            z-index: 1;

            .div2 {
                h2 {
                    color: black;
                }

                p {
                    color: black;
                    margin-right: 50px;
                }

                ul {
                    color: black;
                }

                h3 {
                    color: black;
                    text-decoration: underline 1px;
                }
            }

            .div {
                @extend.div2;
                display: flex;

                div {
                    @extend.div2;
                    width: 50%;
                }

            }

        }

    }


}

@media screen and (max-width: 500px) {


    .descripcion {
        background-color: rgb(200, 155, 243);
        z-index: 0;
        height: max-content;

        img {
            display: none;
        }

        .container {
            height: fit-content;
            z-index: 0;
        }

        .div0 {
            margin: 0;
            padding: 0;
            z-index: 0;
            position: inherit;
            width: 100%;
            height: max-content;

            .div2 {
                p {
                    margin-right: 0;
                }

                width: 100%;
            }

            .div {
                display: flex;
                flex-direction: column;
                width: 100%;

                div {
                    width: 100%;
                }
            }
        }
    }

    .footer_trat {
        position: absolute;
        bottom: 0px;
        z-index: 0;
    }

}